/* App.css */

.App {
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease
}

.navbar a:hover {
  color: #61dafb;
}

.main-content {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Horizontally center child elements */
  align-items: center; /* Vertically center child elements */
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}
